{% extends 'blog_engine/themes/darkula/base_blog_engine.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    {% for post in list %}
        <article class="post">
            <header>
                <h2 class="post-title">
                    <a href="{% url 'blog_engine:post_detail' post.slug %}">
                        {{ post.title }}
                    </a>
                </h2>
                <span class="post-meta">
                    {{ post.created|date }} |
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog_engine:tag_detail' tag.slug%}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
            </header>
            <section class="post-content">
                {{ post.body|safe }}
            </section>
        </article>
    {% empty %}
        {% trans 'No post found' %}
    {% endfor %}
    <div class="row ">
        <div class="col m4 s8 offset-m4 offset-s2">
            <ul class="pagination ">

                {% if list.has_previous %}
                    <li>
                        <a href="?page={{ list.previous_page_number }}">
                            <i class="material-icons">
                                chevron_left
                            </i>
                        </a>
                    </li>
                {% endif %}

                {% for i in range %}
                    {% if i == list.number %}
                        <li class="active grey darken-4">
                            <a href="#!">
                                {{ i }}
                            </a>
                        </li>
                    {% else %}
                        <li class="waves-effect">
                            <a href="?page={{ i }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if list.has_next %}
                    <li>
                        <a href="?page={{ list.next_page_number }}">
                            <i class="material-icons">
                                chevron_right
                            </i>
                        </a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
{% endblock %}